.bg {
  position: relative;
}

.bg-icon {
  font-size: 1.5rem;
  color: var(--COLOR-SECONDARY);
}

.bg-num {
  position: absolute;
  top: -0.563rem;
  background-color: var(--COLOR-PRIMARY);
  color: var(--COLOR-FT);
  padding: 0 0.35rem 0;
  border-radius: 50%;
  left: 1.3rem;
}

.bg-avatar {
  position: absolute;
  top: 2.1rem;
  right: -0.05rem;
  border: 2px solid var(--COLOR-FT);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.bg-online {
  background-color: var(--COLOR-ONLINE);
}

.bg-offline {
  background-color: var(--COLOR-OFFLINE);
}

.bg-txt {
  background-color: var(--COLOR-PRIMARY);
  color: var(--COLOR-FT);
  border-radius: 5px;
  padding: 0 0.5rem 0;
}
