.btn {
    padding: 0.5rem;
    border: none;
    background:none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary {  
    background-color: var(--COLOR-PRIMARY);
    color: var(--COLOR-FT);
    border: 1px solid var(--COLOR-PRIMARY);
}

.btn-primary:hover {
    background-color: var(--COLOR-PRIMARY-DARK);
    border: 1px solid var(--COLOR-PRIMARY-DARK);
}

.btn-outline {
    border: 1px solid var(--COLOR-PRIMARY);
    color: var(--COLOR-PRIMARY);
}

.btn-outline:hover {
    background-color: var(--COLOR-PRIMARY-DARK);
    color: var(--COLOR-FT);
    border: 1px solid var(--COLOR-PRIMARY-DARK);
}

.btn-link {
    color: var(--COLOR-PRIMARY);
}

.btn-link:hover {
    color:var(--COLOR-PRIMARY-DARK)
}

.btn-float,
.btn-icon {
    color: var(--COLOR-PRIMARY);
}

.btn-icon {
font-size: 1.5rem;
}

.btn-float {
    font-size: 3rem;
}

.btn-ls {
    font-size: 1.25rem;
}

.btn-ss {
    font-size: 0.875rem;
}

.component-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
  }