@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import "./avatar.css";
@import "./badge.css";

:root {
    --COLOR-PRIMARY:#FFF8E7;
    --COLOR-ONLINE: yellowgreen;
    --COLOR-WHITE:white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 56.25rem;
    margin: auto;
}