@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import "./avatar.css";
@import "./badge.css";
@import "./alert.css";
@import "./button.css";

:root {
    --COLOR-PRIMARY:#FFF8E7;
    --COLOR-LINK:#CD9141;
    --COLOR-SECONDARY:#241623;
    --COLOR-BLACK:black;
    --COLOR-ONLINE: yellowgreen;
    --COLOR-WHITE:white;
    --BG-SUCCESS:#4ADE80;
    --BG-DANGER:#F87171;
    --BG-WARNING:#FACC15;
    --BG-INFO:#60A5FA;
    --COLOR-INFO:#1E3A8A;
    --COLOR-WARNING:#713F12;
    --COLOR-DANGER:#7F1D1D;
    --COLOR-SUCCESS:#14532D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 56.25rem;
    margin: auto;
}