.form {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.form-error {
    color: var(--COLOR-ERROR);
    margin-bottom: 0.5rem;
}

.form-input {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.form-btn {
    margin-top: 0.5rem;
}

.input-textarea {
    width: 25rem;
    height: 10rem;
}