.toast {
    border-radius: var(--BORDER-RADIUS);
    padding: 0.5rem;
    border: 1px solid var(--COLOR-SECONDARY);
    max-width: 30rem;
    justify-content: center;
    display: flex;
}

.toast-close-btn {
    margin-left: auto;
    font-size: larger;
}